// compress: true

html {
    font-size: 10px;
}
body {
    margin: 0;
    font-size: 1rem;

    &.no-scroll {
        overflow: hidden;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

// vendor
@import "vendor/slick";


// blocks
@import "blocks/header";
@import "blocks/container";
@import "blocks/banner";
@import "blocks/services";
@import "blocks/advantages";
@import "blocks/projects";
@import "blocks/slider";
@import "blocks/footer";




// vars

@tablet: ~"(max-width: 875px)";