// main: ../style.less

.advantages {
    background-color: #F4D550;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    &__boxes {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10rem;
    }
    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        &-title {
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 4.2rem;
            letter-spacing: 0.06em;
            margin-left: 2.6rem;
            color: #231F20;
        }
        &-subtitle {
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 2.2rem;
            margin-left: 2.6rem;
            letter-spacing: 0.04em;

            color: #231F20;
        }
    }
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 3.6rem;
        margin-bottom: 8.8rem;
        margin-top: 8.1rem;
    }
}

@media (max-width: 768px) {
    .advantages__boxes {
        flex-direction: column;
    }
    .advantages__box {
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .advantages__box-title,.advantages__box-subtitle {
        margin-left: 0;
    }
    .advantages__text {
        text-align: center;
    }
    .advantages__title {
        margin: 6rem 0 4rem;
        text-align: center;
    }
}