// main: ../style.less

.banner {
    min-height: calc(100vh - 14.4rem);
    background: url(../img/banner.png)center center no-repeat;
    background-size: cover;
    &__inner{
        display: flex;
        justify-content: flex-end;
    }
}
.callback {
    display: flex;
    flex-direction: column;
    background-color: #231F20;
    width: 45%;
    h2 {
        font-size: 3.2rem;
        color: #fff;
        margin: 1.8rem 7rem 0;
        text-transform: uppercase;
    }
    &__input {
        padding: 2.5rem 1rem;
        border: 1px solid white;
        background-color: #231F20;
        color: #fff;
        &::placeholder{
            color: #fff;
        }
        &:focus {
            outline: none !important;
            border:1px solid #F4D550;
            box-shadow: 0 0 10px #719ECE;
        }
        &-name{
            margin: 5rem 5.3rem 3.2rem 5.3rem;
        }
        &-phone{
            margin: 0 5.3rem 3.2rem 5.3rem;
        }
    }
    &__btn{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 7.8rem;
        background-color: #F4D550;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: #f6ff99;
        }
        p {
            padding: 2rem 1rem;
            color: #000;
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}
@media (max-width: 1024px){
    .callback {
        width: 55%;
    }
}

@media (max-width: 768px){
    .banner__inner {
        justify-content: center;
    }
    .callback {
        width: 65%;
    }
}

@media (max-width: 425px) {
    .callback {
        width: 100%;
        margin: 2rem;
    }
}