// main: ../style.less

.container {
    width: 100%;
    max-width: 1123px;
    margin: 0 auto;
    padding: 0 1.5rem;
}


@media (max-width:1024px) {
    .container {
        width: 100%;
        max-width: 950px;
        margin: 0 auto;
    }
}

@media (max-width:768px) {
    .container {
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
    }
}

@media (max-width:600px) {
    .container {
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
    }
}

@media (max-width:425px) {
    .container {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (max-width:375px) {
    .container {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }
}