// main: ../style.less

.black__header {
    height: 6rem;
    background-color: #231F20;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    a {
        text-decoration: none;
    }
    &-inner {
        display: flex;
        justify-content: flex-end;
    }
    &-phones {
        display: flex;
        align-items: center;
    }
    &-number {
        color: #FFFFFF;
        margin-left: 0.8rem;
        &:hover {
            text-decoration: underline;
        }
    }
    &-mail {
        display: flex;
        align-items: center;
        margin-left: 5.6rem;
        
    }
    &-links {
        display: flex;
        align-items: center;
        margin-left: 6.4rem;
        
    }
}
.left {
    padding-right: .8rem;
    border-right: 1px solid white;
}
.mail__text {
    color: #FFFFFF;
    margin-left: 0.8rem;

    &:hover {
        text-decoration: underline;
    }
}
.mail__img {
    padding-top: 3px;
}
.link__inst {
    margin-left: 1.6rem;
    
}
.social__link {
    transition: transform .2s linear;
    svg {
        path {
            &:hover {
                fill: #F4D550;;
            }
           
        }
    }
    &:hover {
        transform: translateY(-5px);
    }
}
.header {
    height: 8.4rem;
    position: relative;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.7rem;
        color: #000;

        @media @tablet {
            width: 100%;
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            flex-direction: column;
            z-index: 1000;
            background-color: #fff;
            align-items: center;
            text-align: center;
            &.show {
                display: flex;

                
            }
        }


        a {
            margin-right: 6rem;
            text-decoration: none;
            text-transform: uppercase;
            position: relative;
            color: #000;
            &:last-child {
                margin-right: 0;
            }
            &:after {
                content: "";
                width: 0;
                height: 2px;
                background-color: #2B2A2C;
                position: absolute;
                bottom: -5px;
                left: 0;
                z-index: 1;
                transition: width .2s linear;
            }
            &:hover:after {
                width: 100%;
            }
            
            @media @tablet {
                &:last-child {
                    margin-bottom: 1rem;
                }
                width: 40%;
                margin-right: 0;
                padding: 1rem 0;
            }
        }
    }
}



// burger

#burger-container{
    position:relative;
    display: none;
    padding: 0;
    margin: 0;
    background: none;
    overflow: hidden;

    @media @tablet {
        display: block;
        margin-right: 1rem;
    }
}


#burger{
    cursor:pointer;
    display:block;
}


#burger span{
    background: #000;
    display:block;
    width:3.5rem;
    height:.4rem;
    margin-bottom: .3rem;
    position: relative;
    top:0;
    transition: all ease-in-out 0.4s;

    &:nth-child(4) {
        width: 2rem;
    }
}

#burger-container.open span:nth-child(1),
#burger-container.open span:nth-child(4){
    width: 0;
    opacity:0;
    
}

#burger-container.open span:nth-child(2){

    transform: rotate(-45deg);
    top:4px;
}

#burger-container.open span:nth-child(3){
    transform: rotate(45deg);
    top:-4px;
}



//@media


@media (max-width:1024px) {

}


@media (max-width:600px) { 
    .black__header-mail {
        margin-left: 0;
    }
    .black__header-inner{
        justify-content: space-between;
    }
    .black__header-phones {
        display: none;
    }
}