// main: ../style.less
.projects{
    background-color: #EDEDED;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 3.6rem;
        margin: 12.2rem 0 3rem;


        color: #231F20;
    }
}
.work {
    position:relative;
    width: 25.5rem;
    overflow:hidden;
    cursor: pointer;
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #F4D550;
        }
    }
    &:hover {
        span {
            bottom:0;
        }
    }
    &-bg {
        background-color:rgba(0, 0, 0, 0.8);
        bottom:-100px;
        transition-duration:0.6s;
        padding:30px 0;
        position:absolute;
        text-align:center;
        font-size:1.8rem;
        font-weight:bold;
        line-height:16px;
        margin:0;
        display:block;
        width:100%;   
        font-family: Roboto;
        font-style: normal;
        font-weight: normal
    }
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem 2.8rem;
    margin-bottom: 13.4rem;
    justify-content: center;

    &__col {
        flex-basis: 25%;
        padding: 1rem;
        cursor: pointer;
    }
}


@media (max-width: 1024px) {
    .portfolio__col {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
    }
}