// main: ../style.less

.services {
    &__inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 9rem;
        margin-bottom: 6rem;
    }

    &__title {
        font-size: 3.6rem;
        margin-bottom: 3rem;
    }

    &__img {
        margin-bottom: 5.6rem;
    }
    &__info {
        font-size: 1.8rem;
        margin-bottom: 8.5rem;

        p {
            width: 70%;
            margin: 0 auto;
            text-align: left;
        }
    }
}
.cards {
    display: flex;
    flex-wrap: wrap;
    &__col {
        flex-basis: 33.3333%;
    }
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.01em;
    }
    &__btn {
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        padding: 1.3rem 6rem;
        border-radius: 3rem;
        background-color: #F4D550;
        margin-top: 4.3rem;
        border: 1px solid #F4D550;
        cursor: pointer;
        transition: transform .2s linear;
        &:hover {
            transform: translateY(-2px);
            background-color: #f6ff99;;
            border: 1px solid #F4D550;
        }
        &:focus {
            outline: none;
            border: 1px solid #F4D550;
        }
    }
}
.box {
    cursor: pointer;
    padding: 2rem;
    transition: box-shadow .2s linear;

    &:hover {
        box-shadow: -3px -4px 10px rgba(0, 0, 0, 0.15), 3px 4px 10px rgba(0, 0, 0, 0.15);
    }
}


@media (max-width: 768px){
    .cards {
        justify-content: center;
    }
}