// main: ../style.less
.carusel {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15rem;
    &__img {
        img {
            width: 200px;
            height: 200px;
            min-width: 100%;
            padding: 0 5px;
        }
        
    }
}

.slider {

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 3.6rem;
        margin: 12.2rem 0 3rem;
        color: #231F20;
    }
}


@media (max-width: 1024px) {
    .carusel__img {
        img{
            margin: 0 auto;
        }
        
    }
    .slider__img {
        margin-bottom: 0;
    }
}


@media (max-width: 320px) {
    .carusel__img {
        img {
            width: 180px;
        }
    }
}